.firstScreen {
  width: 100%;
  height: 100%;
  background: #fd5e02 1.1rem 0;
}
.firstScreen .topbg {
  width: 30rem;
  height: 60%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  background: #fd5e02 url(../images/garnish_top.png) no-repeat 1.1rem 0;
  background-size: 28.25rem 20.25rem;
}
.firstScreen nav {
  right: 0;
  width: 100%;
  height: 10%;
  padding: 20px 20px 10px 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  opacity: 1;
  box-sizing: border-box;
  background: #fd5e02 url(../images/garnish_top.png) no-repeat 1.1rem 0;
  background-size: 28.25rem 20.25rem;
}
.firstScreen nav div.fl img {
  width: 160px;
}
.firstScreen nav div.fr {
  background: url(../images/phone.png) no-repeat 0 0.3rem;
}
.firstScreen nav div.fr div {
  margin-left: 20px;
  font-family: HYQiHei-FZS;
  font-size: 24px;
  color: #ffffff;
  text-align: left;
}
.firstScreen nav div.center {
  float: left;
  margin-left: 10px;
  margin-top: 2px;
}
.firstScreen nav div.center ul li {
  cursor: pointer;
  float: left;
  width: 100px;
  text-align: center;
  margin-left: 10px;
  font-size: 20px;
}
.firstScreen nav div.center ul li a {
  opacity: 0.7;
  display: inline-block;
  padding: 0 0 5px 0;
  font-family: SFNSDisplay;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 14px;
}
.firstScreen nav div.center ul li span {
  display: none;
  width: 100px;
  height: 4px;
  margin-top: 5px;
  background-color: #ffffff;
}
.firstScreen nav div.center ul li:hover a {
  opacity: 1;
  width: 100px;
  font-family: SFNSDisplay;
  font-size: 20px;
  color: #FFFFFF;
}
.firstScreen nav div.center ul li:hover span {
  display: block;
}
.firstScreen nav div.center ul li:visited span {
  display: block;
}
.firstScreen .banner {
  box-sizing: border-box;
  margin-top: 3.8rem;
  padding: 0 0 0 5.9rem;
  color: #fff;
  font-family: SFNSDisplay;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0px;
  bottom: 0px;
  left: 0;
  overflow: hidden;
  word-break: break-all;
}
.firstScreen .banner .pic {
  width: 100%;
  height: 100%;
  background: url(../images/jiabin.png) no-repeat center 30%;
  background-size: auto 100%;
  position: relative;
  z-index: 2;
}
.firstScreen .banner .pic .lecture {
  margin-top: 7%;
  width: 25rem;
  height: 15rem;
  background: url(../images/lecture.png) no-repeat 0 3rem;
  background-size: auto 9rem;
}
.firstScreen .banner .pic .bookList {
  width: 34rem;
  height: 20%;
  background: url(../images/bookList.png) no-repeat 0 0;
  position: absolute;
  top: 67%;
  background-size: 92% auto;
}
.firstScreen .banner .pic .circleWhite {
  position: absolute;
  right: 0rem;
  bottom: 0;
  bottom: -2rem;
  width: 20rem;
  height: 23.1rem;
  background: url(../images/circleWhite.png) no-repeat 0 0;
  background-size: auto 100%;
}
.form {
  position: fixed;
  z-index: 99;
  top: 7.5rem;
  right: 30px;
  width: 280px;
  height: 350px;
  background-color: #fff;
  padding-top: 30px;
  vertical-align: middle;
  box-shadow: #dedede 0 0 3px;
  -moz-box-shadow: #dedede 0 0 3px;
  -webkit-box-shadow: #dedede 0 0 4px;
}
.form .closeForm {
  width: 31px;
  height: 31px;
  background: url(../images/closeForm.png) no-repeat 0 0;
  background-size: 80% 80%;
  position: absolute;
  right: -0.2rem;
  top: -0.6rem;
  cursor: pointer;
}
.form div {
  margin-top: 14px;
}
.form input {
  text-indent: 8px;
  background-color: #F3F3F3;
  height: 34px;
}
.form > div {
  margin-bottom: 12px;
  text-align: center;
}
.form div:nth-child(2) {
  font-size: 16px;
  color: #333;
  text-align: center;
}
.form div:nth-child(2) span {
  font-size: 22px;
  color: #FD5E02;
}
.form ul {
  display: block;
  width: 14.6rem;
  background-color: #fea802;
  margin: -0.5rem 1.5rem 0 1.5rem;
  position: absolute;
  z-index: 9;
}
.form ul li {
  cursor: pointer;
  width: 100%;
  height: 1.2rem;
  font-family: HYQiHei-EZS;
  font-size: 0.8rem;
  color: #ffffff;
  letter-spacing: 0;
  text-align: left;
  position: relative;
  padding-left: 1.4rem;
}
.form ul li span {
  position: absolute;
  left: 5rem;
}
.form div:nth-child(3) > input {
  width: 240px;
}
.form div:nth-child(4) {
  cursor: pointer;
  text-align: center;
}
.form div:nth-child(4) span {
  display: inline-block;
  width: 4.7rem;
  font-family: HYQiHei-FZS;
  font-size: 1rem;
  color: #ffffff;
  letter-spacing: 0;
  position: relative;
  vertical-align: middle;
}
.form div:nth-child(4) span span {
  position: absolute;
  top: 0.3rem;
  left: -1.7rem;
  transform: rotate(360deg);
}
.form div:nth-child(4) > input {
  width: 240px;
  vertical-align: middle;
}
.form div:nth-child(5) input {
  width: 168px;
  height: 36px;
  vertical-align: middle;
}
.form div:nth-child(5) button {
  vertical-align: middle;
  cursor: pointer;
  width: 70px;
  height: 36px;
  line-height: 36px;
  color: #ffffff;
  font-size: 13px;
}
.form div:nth-child(6) button {
  cursor: pointer;
  width: 240px;
  height: 46px;
  line-height: 46px;
  background-color: #FEA802;
  color: #fff;
  font-size: 16px;
}
.form div:nth-child(7) {
  margin-top: 16px;
  font-size: 14px;
  color: #FF0808;
}
.form-span {
  display: inline-block;
  height: 2.3rem;
  line-height: 2.3rem;
  background-color: #FEA802;
}
.show {
  display: block!important;
}
.hide {
  display: none;
}
.showA {
  opacity: 1!important;
  font-family: SFNSDisplay!important;
  font-size: 20px!important;
  color: #FFFFFF!important;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#instruct {
  width: 1px;
  height: 1px;
}
section.content-bg {
  background: #fff;
  position: relative;
  z-index: 998;
}
section.content-bg section.content {
  padding: 30px 0;
  width: 1200px;
  margin: 0px auto;
  background: #ffffff url(../images/garnish_top.png) no-repeat 77.5rem 1rem;
  background-size: 86% 86%;
}
section.content-bg section.content #instruct {
  width: 1px;
  height: 1px;
  position: absolute;
  top: -10px;
}
section.content-bg section.content .vipIntroduce .box-left {
  width: 40%;
}
section.content-bg section.content .vipIntroduce .box-left img {
  width: 100%;
  display: block;
  margin: 30px 0;
}
section.content-bg section.content .vipIntroduce .box-left img.header-img {
  width: 50%;
}
section.content-bg section.content .vipIntroduce .box-right {
  width: 60%;
}
section.content-bg section.content .vipIntroduce .box-right .video-show {
  position: relative;
}
section.content-bg section.content .vipIntroduce .box-right .video-show .videoBg {
  width: 70%;
  height: 372px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  background: url(../images/videoBgs.jpg) no-repeat right center;
  background-size: 100%;
}
section.content-bg section.content .vipIntroduce .box-right .video-show .videoBg img {
  width: 80%;
}
section.content-bg section.content .vipIntroduce .box-right .video-show .autoPlay {
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 462px;
  top: 168px;
  z-index: 20;
  background: url(../images/autopaly.png) no-repeat right center;
}
section.content-bg section.content .vipIntroduce .box-right .video-show .video {
  width: 70%;
  margin-left: 30%;
  margin-top: 32px;
}
section.content-bg section.content .vipIntroduce .box-right .video-show .video video {
  width: 100%;
}
section.content-bg section.content .vipIntroduce .box-right .video-show .video-intro {
  margin-left: 30%;
  margin-top: 30px;
}
section.content-bg section.content .vipIntroduce .box-right .video-show .video-intro img {
  width: 40%;
}
section.content-bg section.content .training_partner {
  margin-bottom: 60px;
}
section.content-bg section.content .training_partner .training_title {
  width: 412px;
  margin: 40px 0 65px 0;
}
section.content-bg section.content .training_partner .training_title img {
  width: 60%;
}
section.content-bg section.content .training_partner li {
  float: left;
  width: 33%;
  margin: 0 4px 0 0;
}
section.content-bg section.content .training_partner li img {
  width: 100%;
}
section.content-bg section.content .training_partner li:nth-child(3n) {
  margin-right: 0;
}
section.content-bg section.content .teacher_resources {
  margin-bottom: 60px;
  position: relative;
}
section.content-bg section.content .teacher_resources #teacherForce {
  width: 1px;
  height: 1px;
  position: absolute;
  top: -70px;
  left: 0;
}
section.content-bg section.content .teacher_resources .teacher_title {
  position: absolute;
}
section.content-bg section.content .teacher_resources .teacher_title img {
  width: 50%;
}
section.content-bg section.content .teacher_resources .teacher_force img {
  width: 90%;
  float: right;
}
section.content-bg section.content .service_force {
  position: relative;
}
section.content-bg section.content .service_force #intimateService {
  width: 1px;
  height: 1px;
  position: absolute;
  top: -68px;
}
section.content-bg section.content .service_force .server_title {
  margin-bottom: 40px;
}
section.content-bg section.content .service_force .server_title img {
  width: 20%;
}
section.content-bg section.content .service_force .adviser img {
  width: 90%;
}
section.content-bg section.content .service_force .promise {
  margin: 40px 0 90px 0;
}
section.content-bg section.content .service_force .promise img {
  width: 60%;
}
section.content-bg section.content .cooperate {
  position: relative;
}
section.content-bg section.content .cooperate #collabArtist {
  width: 1px;
  height: 1px;
  position: absolute;
  top: -68px;
}
section.content-bg section.content .cooperate .collab_ttitle img {
  width: 20%;
}
section.content-bg section.content .collab_content .licong {
  margin-bottom: 40px;
  margin-top: 40px;
}
section.content-bg section.content .collab_content .licong img {
  width: 90%;
}
section.content-bg section.content .collab_content .full {
  margin-bottom: 60px;
}
section.content-bg section.content .collab_content .full img {
  width: 100%;
}
section.content-bg section.content .investor {
  position: relative;
}
section.content-bg section.content .investor #investor {
  width: 1px;
  height: 1px;
  position: absolute;
  top: -68px;
}
section.content-bg section.content .investor .investor_tittle img {
  width: 20%;
}
section.content-bg section.content .investor .investor_content img {
  width: 100%;
  margin-top: 40px;
}
footer {
  width: 100%;
  position: relative;
  z-index: 998;
  background-color: #fd5e02;
}
footer > .top {
  width: 100%;
  box-sizing: border-box;
  padding: 3rem 3rem 3rem 6rem;
}
footer > .top > .left {
  padding: 0 3rem;
  width: 19.5rem;
  height: 24.2rem;
  box-sizing: border-box;
  background: url(../images/rocket.png) no-repeat 0 0;
  background-size: 86% 86%;
}
footer > .top > .right {
  width: 44.5rem;
}
footer > .top > .right > .top p {
  font-family: HYQiHei-FZS;
  font-size: 1.1rem;
  color: #ffffff;
  letter-spacing: 0;
  line-height: 1.6rem;
  text-align: left;
}
footer > .top > .right > .center {
  margin-top: 2rem;
}
footer > .top > .right > .center p {
  font-family: HYQiHei-FZS;
  font-size: 2.1rem;
  color: #ffffff;
  letter-spacing: 0;
  text-align: left;
}
footer > .top > .right > .center .phoneImg {
  margin-top: 1.5rem;
}
footer > .top > .right > .center .phoneImg .iphone {
  width: 15rem;
  height: 3.2rem;
  background: url(../images/iphone.png) no-repeat 0 0;
  background-size: 86% 86%;
}
footer > .top > .right > .center .phoneImg .iphone a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
footer > .top > .right > .center .phoneImg .android {
  width: 15rem;
  height: 3.2rem;
  margin-left: 5rem;
  background: url(../images/android.png) no-repeat 0 0;
  background-size: 86% 86%;
}
footer > .top > .right > .center .phoneImg .android a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
footer > .top > .right > .bottom {
  margin-top: 1.5rem;
}
footer > .top > .right > .bottom > .left p {
  font-family: HYQiHei-EZS;
  font-size: 1rem;
  color: #ffffff;
  letter-spacing: 0;
  text-align: left;
  margin-top: 0.7rem;
}
footer > .top > .right > .bottom > .right {
  width: 9rem;
  height: 9rem;
  margin-right: 5rem;
  background: url(../images/erweima.png) no-repeat 0 0;
  background-size: 100% 100%;
}
footer > .bottom > p {
  padding: 1rem 5rem 0.5rem;
  font-family: HYQiHei-DES;
  font-size: 0.9rem;
  color: #ffffff;
  letter-spacing: 0;
  text-align: left;
}
footer > .bottom > p a {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-family: HYQiHei-DES;
  font-size: 0.9rem;
  color: #ffffff;
  letter-spacing: 0;
  text-align: left;
}
footer > .bottom > div {
  opacity: 0.1;
  background: #ffffff;
  width: 70.05rem;
  height: 2px;
  margin-left: 5rem;
}
.sideBar {
  position: fixed;
  right: 0;
  top: 30%;
  z-index: 1004;
  margin-right: 20px;
  cursor: pointer;
}
.sideBar .consultation {
  width: 80px;
  height: 80px;
  box-shadow: #dedede 0 0 5px;
  background: url(../images/Customer.png) no-repeat 0 0;
  background-size: 98% 98%;
  position: relative;
}
.sideBar .consultation .sidePhone {
  display: none!important;
  width: 244px;
  height: 78px;
  line-height: 80px;
  text-align: center;
  font-family: HYQiHei-FZS;
  font-size: 24px;
  color: #ffffff;
  position: absolute;
  right: 80px;
  background-color: #fea805;
}
.sideBar .consultation:hover .sidePhone {
  display: block!important;
}
.sideBar .freeClass {
  width: 80px;
  height: 116px;
  margin-top: 10px;
  background: url(../images/freeClass.png) no-repeat 0 0;
  background-size: 98% 98%;
}
.el-carousel {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.el-carousel .el-carousel__container {
  width: 100%;
  height: 100%;
}
.el-carousel__indicators {
  left: 4rem;
}
.el-carousel__indicators .el-carousel__button {
  width: 3.6rem;
  height: 0.2rem;
}
.gray {
  background-color: #ccc!important;
  cursor: not-allowed !important;
}
.el-carousel__arrow--left {
  display: none!important;
}
.el-carousel__arrow--right {
  display: none!important;
}
