section {
  width: 790px;
  margin: 0 auto;
}
section .center {
  margin: 80px auto 30px;
  background: #ffffff;
  border: 2px dashed #fea805;
  border-radius: 20px;
  width: 370px;
  height: 380px;
  position: relative;
}
section .center .child {
  position: absolute;
  top: -76px;
  left: 100px;
  width: 300px;
  height: 200px;
  background: url(../images/child.png) no-repeat 0 0;
  background-size: 60%;
}
section .center p {
  margin-top: 44px;
  font-size: 16px;
  color: #fd5e02;
  letter-spacing: 0;
  text-align: center;
}
section .center span {
  margin-left: 26px;
  display: inline-block;
  font-size: 14px;
  color: #999999;
  line-height: 29.12px;
  text-align: center;
}
section .center .WeChatCode {
  width: 160px;
  height: 160px;
  margin: 10px 124px;
  background: url(../images/erweima.png) no-repeat 0 0;
  background-size: 80%;
}
section .center .exclusive {
  margin: -18px 20px 0 20px;
  font-size: 14px;
  color: #333333;
  line-height: 20px;
  text-align: left;
}
section .center a {
  display: block;
  background: #fd5e02;
  border-radius: 4px;
  width: 120px;
  height: 36px;
  line-height: 36px;
  font-family: HYQiHei-DES;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  margin-left: 120px;
  margin-top: 20px;
}
footer {
  margin: 0 auto;
  width: 370px;
  height: 70px;
  background-size: 100%;
}
